.kh-meta-shoelace-top-menu {
	cursor: pointer;
}

.kh-meta-shoelace-top-menu sl-icon {
	font-size: 20px;
}

.kh-meta-shoelace-top-menu sl-dropdown sl-menu {
	color: var(--sl-color-primary-15);
	max-height: 90vh;
}

.kh-meta-shoelace-top-menu sl-menu sl-details::part(base) {
	border: none !important;
}

.kh-meta-shoelace-top-menu sl-menu sl-details::part(summary) {
	padding-left: 10px;
}
